Flask==2.3.2
Flask-Cors==3.0.10
psutil==5.9.5
netifaces==0.11.0
Flask-Session==0.5.0
python-dotenv==1.0.0
Werkzeug==2.3.7
Jinja2==3.1.2
chardet==5.2.0
requests>=2.32.4
gevent==23.9.1
pdfminer.six==20231228
PyPDF2==3.0.1
urllib3==2.0.7
pycryptodome==3.19.0